<div class="containter mt-5">

  <div *ngIf="!registerMode" style="text-align: center">
    <h1>Expecting a mass disaster? Get yourself a little help!</h1>
    <p class="lead">Better safe than sorry... Register now!</p>
    <div class="text-center">
      <button class="btn btn-primary btn-lg mr-3" (click)="registerToggle()">Sign up</button>
      <button class="btn btn-info btn-lg">More...</button>      
    </div>
  </div>

  <div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-register></app-register>
      </div>
    </div>
  </div>

</div>